* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --primary-color: #badc58;
    --secondary-color: #6D214F;
    --font-color: #45aaf2;
    --sub-font-color: #20bf6b;
    --font-red: #ff0000;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
}

.container {
    display: flex;
    justify-content: center;
}

.container .centered-container {
    background-color: var(--primary-color);
    max-width: 80%;
    height: 40rem;
    text-align: center;
    padding: 1rem;
}

.heading {
    color: var(--font-color);
}

.desc {
    margin-bottom: 2rem;
    font-size: large;
    color: var(--sub-font-color);
}

.label,
.input {
    display: block;
    margin: 0.5rem auto;
}

input:focus {
    outline: none;
}

.label {
    color: var(--font-color);
    margin-top: 1rem;
    font-size: 1.3rem;
}

.input {
    display: block;
    margin: auto;
    color: var(--secondary-color);
    padding: 0rem;
    text-align: center;
    border: 2px solid var(--primary-color);
    box-shadow: 1px 1px 0.5rem 1px var(--secondary-color);
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

.amount-section {
    /* width: 50vw; */
    display: block;
    margin: auto;
}

.button {
    margin-top: 1rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0.2rem 2.5rem;
    text-align: center;
    border: 2px solid var(--primary-color);
    box-shadow: 1px 1px 0.5rem 1px var(--secondary-color);
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

/* .next-button {
    display: inline-block;
} */

#err-message {
    font-size: large;
    font-weight: bold;
    color: var(--font-red);
}

/* Table Section */

.table-container {
    overflow-x: auto;
    scrollbar-color: rebeccapurple green red;
}

table {
    margin: 2rem auto;
    border-collapse: collapse;
}

table caption {
    color: var(--font-color);
    margin-bottom: 1rem;
    font-size: x-large;
    font-weight: bold;
}

th,
td {
    padding: 0.2rem 0.4rem;
    border: 2px solid var(--secondary-color);
}

th {
    color: var(--secondary-color);
}

tr {
    color: var(--sub-font-color);
}

/* Footer Section */

.footer {
    text-align: center;
    background-color: var(--primary-color);
    border-top-left-radius: 2rem;
    border: 1px solid var(--secondary-color);
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-heading {
    font-size: x-large;
    padding: 0.5rem;
    margin: 0.7rem 0rem;
    color: var(--secondary-color);
}

.social-links {
    margin: 0.5rem;
    padding-inline-start: 0px;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}

.link {
    text-decoration: none;
    padding: 0.5rem 2rem;
    color: var(--font-color);
    font-size: large;
}

h4 {
    margin: 1rem 0rem;
    font-size: 1.3rem;
    font-weight: bold;
    word-spacing: 20px;
    color: var(--secondary-color);
}